@import "exports/colors";
@import "exports/mixins";
@import "exports/variables";

// Create Buttons
@include create-button(error, $red);
@include create-button(success, darken($green, 3%));
@include create-button(primary, $blue);
@include create-button(primary-alt, $purple);
@include create-button(default-dark, #4D5460, darken(white, 5%));
@include create-ghost-button(error, $red);
@include create-ghost-button(success, $green);
@include create-ghost-button(primary, $blue);
@include create-ghost-button(primary-alt, $purple);
@include create-ghost-button(warning, $warning);

.btn-sm {
  font-size: 0.8em
}

.btn {
  font-size: 0.9em;
}

.btn,
.btn-sm {
  border: none;
	text-decoration: none!important;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	outline: none none;
	box-shadow: none;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-shadow: none;
  font-weight: 400;
	overflow: hidden;
  background-image: none;
  transition: all 0.1s;
	box-shadow: none!important;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &.disabled, &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

	> i {
		margin-right: 1em;
		color: white;
	}

  &.btn-block {
    width: 100%;
    display: block;
  }

  &.btn-centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  &.btn-rounded {
    border-radius: 20px;
		padding-left: 1.5em;

		i {
      margin: 0;
      padding: 0;
      background: transparent!important;
    }
	}
}

.btn.btn-dark {
  background: hsla(222,21%,28%,1);

  &:hover {
    background: hsla(222,21%,32%,1);
  }
}

.btn.btn-ghost,
.btn-sm.btn-ghost {
  background: transparent;
  color: $lighter-grey;
  border: 1px solid;
  font-weight: 600;
  border-radius: 4px;

  &:hover {
    color: $blue;
  }

  i {
    background: transparent;
    padding-right: 0;
    color: inherit;
  }
}

.btn.btn-blank,
.btn-sm.btn-blank {
  background: white;
  border: 1px solid $border-grey;
  color: $light-grey;

  &:hover {
    background: darken(white, 1%);
    border: 1px solid darken($border-grey, 2%);
    color: $dark-grey;
  }

  i {
    color: $dark-grey;
  }
}

.btn.btn-default,
.btn-sm.btn-default {
  background: white;
  color: $dark-grey;
  border: 1px solid $border-grey;
  box-shadow: inset 0px 1px 0px rgba(white, 0.7);

  &:hover {
    background: darken($button-grey, 2%);
    border-color: darken($button-border-grey, 5%);
    color: $dark-grey;
  }

  &.active {
    background: $blue;
    color: white;
    border-color: darken($blue, 5%);
    box-shadow: none;
    transition: none;
  }
}
