@import "exports/colors";
@import "exports/mixins";

.full-height {
  height: 100%!important;
  height: 100vh!important;
}

@include createLoader('.loader', 10em);
@include createLoader('.small-loader', 1.5em);
@include createLoader('.saving-loader', 1.5em, white);

.animated-ellipsis {
  &::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: animated-ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
}

@keyframes animated-ellipsis {
  to {
    width: 1.25em;
  }
}

.saving-loader {
  margin: inherit;
  display: inline-flex;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
  border-top-color: white;
}

.small-loader {
  border-width: 0.2em;
  display: inline-block;
  margin: 0 auto;

  &.dark {
    border-top-color: lighten($dark-header, 8%);
    border-right-color: lighten($dark-header, 8%);
    border-bottom-color: lighten($dark-header, 8%);
  }
}

.custom-container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-sm {
  max-width: 900px;
  margin: auto;
  padding: 0 1em;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

@for $i from 1 through 10 {
  .flex-span-#{$i}, {
    flex: $i;
  }
}


.margin-1em, .margin { margin: 1em }
.no-margin { margin: 0!important }
.padding-1em, .padding { padding: 1em }
.no-padding { padding: 0!important }

.border { border: $border }

$directions: 'top', 'bottom', 'right', 'left';
// Loop to generate margin, padding and border helper classes
@each $direction in $directions {
  .margin-#{$direction} {
    margin-#{$direction}: 1em;
  }
  .no-margin-#{$direction} {
    margin-#{$direction}: 0!important;
  }
  .padding-#{$direction} {
    padding-#{$direction}: 1em;
  }
  .no-padding-#{$direction} {
    padding-#{$direction}: 0!important;
  }
  .border-#{$direction} {
    border-#{$direction}: $border;
  }
  .no-border-#{$direction} {
    border-#{$direction}: none!important;
  }
}

.progress-bar {
  height: 4px;
  background: $border-grey;
  width: 100%;
  display: block;
  position: relative;
  margin: 2em auto 1em;
  border-radius: 20px;
  box-shadow: none!important;

  span.message {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 0.8em;
    color: $light-grey;
  }

  span.value {
    width: 0;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    background: $blue;
    border-radius: 20px;
  }
}

.align-middle,.middle{ vertical-align: middle }
.bold 							{ font-weight: 600 }
.block 							{ display: block }
.small							{ font-size: 0.8em }
.italic             { font-style: italic; font-weight: 400; }
.strong 						{ font-weight: bold }
.block 							{ display: block }
.no-underline 			{ text-decoration: none!important }
.no-background 			{ background: none!important }
.no-border          { border: none!important }
.extra-space 				{ padding-bottom: 8em!important }
.lowercase          { text-transform: lowercase }
.uppercase          { text-transform: uppercase }
.capitalize 				{ text-transform: capitalize }
.inline-block 			{ display: inline-block }
.cursor 						{ cursor: pointer!important }
.cursor-help        { cursor: help; }
.visibility-hidden  { visibility: hidden }
.extra-space 	      { padding-bottom: 	8em!important; }
.capitalize 	      { text-transform: capitalize;	}
.text-overflow      { @extend %text-overflow }

.blue 							{ color: $blue!important }
.purple             { color: $purple!important }
.green              { color: $green!important }
.red                { color: $red!important; }
.light-grey 				{ color: $light-grey }
.dark-grey 					{ color: $dark-grey }
.grey-bg 						{ background: $modal-grey	}
.background-grey 		{ background: $background-grey!important }
.white-bg						{ background: white!important }
.twitter 						{ color: $twitter }


.list {
  .list-item {
    padding: 0.75em 1em;

    &:nth-child(2n) {
      background: lighten($background-grey, 1%);
    }
  }
}

// LABELS
.label {
  &.label-primary { background: $blue }
  &.label-primary-alt { background: $purple }

  // Expansion labels
  &.label-SUCCESSFUL { background: $green }
  &.label-IDLE { background: $light-grey }
  &.label-QUEUED { background: $dark-grey }
  &.label-RUNNING { background: $blue }
  &.label-FAILED { background: $red }

  &.label-expansion-CANDIDATE {
    background: $blue;
  }

  &.label-expansion-CONFIRMED {
    background: $green;
  }

  &.label-expansion-REJECTED {
    background: $red;
  }
}
