/// @author Mark Murray
/// @group Variables

/// Navigation Height
$nav-height:  60px;

/// Extra Small devices
$xs-device: 767px;

/// Small Devices
$sm-device: 768px;

/// Medium Devices
$md-device: 992px;

/// Large Devices
$lg-device: 1200px;

/// Dashboard Sidebar Width
$sidebar-width: 270px;

/// Checkbox size
$checkbox-size: 15px;
